
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/StyleSheetSideBar.css" rel="stylesheet" />
</head>
<body>

    <div class="sidebar">
        <a href="#"><i class="fas fa-home"></i>&nbsp; Ana Sayfa</a>
        <a href="/Kategori/Index/"><i class="fas fa-list"></i>&nbsp; Kategoriler</a>
        <a href="/Kitap/Index/"><i class="fas fa-book"></i>&nbsp; Kitaplar</a>
        <a href="/Yazar/Index/"><i class="fas fa-edit"></i>&nbsp; Yazarlar</a>
        <a href="/Uyeler/UyeEkle"><i class="fas fa-user"></i>&nbsp; Üyeler</a>
        <a href="/Personel/Index/"><i class="fas fa-briefcase"></i>&nbsp; Personeller</a>
        <a href="/Odunc/OduncVer/"><i class="fas fa-arrow-circle-right"></i>&nbsp; Ödünç Kitap Ver</a>
        <a href="/Odunc/Index/"><i class="fas fa-arrow-circle-left"></i>&nbsp; Ödünç Kitap Al</a>
        <a href="/istatistik/Index/"><i class="fas fa-chart-bar"></i>&nbsp; İstatistikler</a>
        <a href="/istatistik/Galeri/"><i class="fas fa-image"></i>&nbsp; Galeri</a>
        <a href="#"><i class="fas fa-euro"></i>&nbsp; Kasa</a>
        <a href="/islem/Index/"><i class="fas fa-cogs"></i>&nbsp; İşlemler</a>
        <a href="/Vitrin/Index/"><i class="fas fa-gift"></i>&nbsp; Vitrin</a>
        <a href="#"><i class="fas fa-wrench"></i>&nbsp; Ayarlar</a>
        <a href="#"><i class="fas fa-info-circle"></i>&nbsp; Yardım</a>
        <a href="#"><i class="far fa-times-circle"></i>&nbsp; Çıkış</a>

    </div>

    <div class="main">
        @RenderBody()
    </div>

</body>
</html>
