@model MvcKutuphane.Models.Entity.TBLMESAJLAR

@{
    ViewBag.Title = "YeniMesaj";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}

<h2>Yeni Mesaj</h2>

<hr />
<br />

<form class="form-group" method="post">
    <div style="margin-top:15px;">
        <label>Alıcı Mail : </label>
        @Html.TextBoxFor(x => x.ALICI, new { @class = "form-control", @placeholder = "Alıcı Mail Giriniz..." })

    </div>
    <div style="margin-top:15px;">
        <label>Konu : </label>
        @Html.TextBoxFor(x => x.KONU, new { @class = "form-control", @placeholder = "Konu Giriniz..." })

    </div>

    <div style="margin-top:15px;">
        <label>İçerik : </label>
        @Html.TextAreaFor(x => x.ICERIK, new { @class = "form-control", @placeholder = "Mail İçeriğini Giriniz..." })

    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btnKaydet">
            <span class="fas fa-plus-circle">&nbsp; </span> Gönder
        </button>
    </div>


</form>