@model MvcKutuphane.Models.Entity.TBLKATEGORI

@{
                /**/

                ViewBag.Title = "KategoriEkle";
                Layout = "~/Views/Shared/_LayoutYeni.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<h2>Kategori Ekle</h2>
<hr />
<br />

<form class="form-group" method="post">
    <div style="margin-top:15px;">
        <label>Kategori Ad : </label>
        @Html.TextBoxFor(x => x.AD, new { @class = "form-control", @placeholder = "Kategori Ad Bilgilerini Giriniz..." })
        @Html.ValidationMessageFor(x => x.AD, "", new { @style = "color:red" })

    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btnKaydet"><span class="fas fa-plus-circle">&nbsp; </span> Kategori Ekle</button>
    </div>


</form>
@*<script>
    $('#btnKaydet').click(function () {
        alert('Yeni Kategori Eklendi.');
    });
</script>*@