@using MvcKutuphane.Models.Entity
@model List<TBLYAZAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutYeni.cshtml";
}

<h2>Yazarlar</h2>
<hr />
<br />
<table class="table table-striped">
    <tr style="background-color:rgb(252,178,22)">
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>YAZARLARIN KİTAPLARI</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.ID</td>
        <td>@item.AD</td>
        <td>@item.SOYAD</td>
        <td>
            @Html.ActionLink(" Sil", "YazarSil", new { id = item.ID }, new { @class = "btn btn-danger glyphicon glyphicon-trash", onclick = "return confirm('Silmek İstiyor Musunuz?')" })
    </td>

    <td>
        <a href="/Yazar/YazarGetir/@item.ID" class="btn btn-success"><span class="fas fa-paper-plane">&nbsp; </span>Güncelle</a>
    </td>
    <td>
        <a href="/Yazar/YazarKitaplar/@item.ID" class="btn btn-warning" style="background-color:lightseagreen"><span class="fas fa-user">&nbsp; </span>Yazarın Kitapları</a>
    </td>
    </tr>
    }
</table>
<a href="/Yazar/YazarEkle/" class="btn btn-primary"><span class="fas fa-plus-circle"> </span>&nbsp; Yeni Yazar Ekle</a>
