@using MvcKutuphane.Models.Entity
@model List<TBLPERSONEL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutYeni.cshtml";
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<h2>Personeller</h2>
<hr />
<br />
<table class="table table-striped">
    <tr style="background-color:rgb(252,178,22)">
        <th>PERSONEL ID</th>
        <th>PERSONEL ADI</th>
        <th>PERSONEL SOYADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.PERSONELAD</td>
            <td>@item.PERSONELSOYAD</td>

            <td>@Html.ActionLink(" Sil", "PersonelSil", new { id = item.ID }, new { @class = "btn btn-danger glyphicon glyphicon-trash", onclick = "return confirm('Silmek İstiyor Musunuz?')" })</td>

            @*<a href="/Kategori/KategoriSil/@item.ID" class="btn btn-danger"><span class="fas fa-trash">&nbsp; </span>Sil</a>*@

            <td>
                <a href="/Personel/PersonelGetir/@item.ID" class="btn btn-success"><span class="fas fa-paper-plane">&nbsp; </span>Güncelle</a>
            </td>

        </tr>
    }
</table>
<br />
<a href="/Personel/PersonelEkle/" class="btn btn-primary"><span class="fas fa-plus-circle"></span>&nbsp; Yeni Personel Ekle</a>

